a {
	&.cta_button {
	    text-decoration: none;
	    box-sizing: border-box !important;

	    &:hover,
	    &:active,
	    &:focus {
	        text-decoration: none;
	    }
	}
}

.hi-button {
	display: inline-block;
	font-family: "FrutigerNextW01-Medium";
	color: #fff;
	font-size: 18px;
	padding: 18px 10px;
	margin: 0;
	background: hubl("$first_color");
	transition: all .2s linear;
	appearance: none;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0;
	text-decoration: none;
	text-align: center;
	white-space: normal;

	&--gradient {
		display: inline-block;
		font-family: "FrutigerNextW01-Medium";
		color: #fff;
		font-size: 18px;
		padding: 18px 10px;
		margin: 0;
		appearance: none;
		background-color: transparent;
		background-image: linear-gradient(to right, #bcdefa, hubl("$first_color"));
		background-size: 150% auto;
    	background-position: 100% 0;
		transition: background-position 0.5s, color .2s linear, border .2s linear;
		background-repeat: no-repeat;
		border: 1px solid transparent;
		cursor: pointer;
		border-radius: 0;
		max-width: 100%;
		text-decoration: none;
		text-align: center;
		white-space: normal;

		&:hover {
			background-position: -250% 0;
			color: hubl("$first_color");
			border: 1px solid hubl("$first_color");
		}
	}

	&--gradient-inverse {
		display: inline-block;
		font-family: "FrutigerNextW01-Medium";
		color: hubl("$first_color");
		font-size: 18px;
		padding: 18px;
		margin: 0;
		appearance: none;
		background-color: transparent;
		background-image: linear-gradient(to right, #bcdefa, hubl("$first_color"));
		background-size: 150% auto;
    	background-position: 310% 0;
		transition: background-position .5s, color .2s linear, border .5s linear;
		background-repeat: no-repeat;
		cursor: pointer;
		border-radius: 0;
		min-width: 240px;
		text-decoration: none;
		text-align: center;
		border: 1px solid hubl("$first_color");

		&:hover {
			background-position: 100% 0;
			color: #fff;
			border: 1px solid transparent;
		}
	}
}