.form-title {
	font-size: 25px;
	color: hubl("$first_color");
    font-family: "FrutigerNextW01-Regular";
    line-height: 1.1;
}

.hs-form {

	::-webkit-input-placeholder {
    color: #999
	}

	::-moz-placeholder {
	    color: #999
	}

	:-ms-input-placeholder {
	    color: #999
	}

	:-moz-placeholder {
	    color: #999
	}
	
	fieldset {
		max-width: none !important;
	}

	label[placeholder], legend {
	    display: none !important;
	}

	input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), select, textarea {
	    width: 100%;
	    margin-bottom: 15px;
	    padding: 8px 15px;
	    height: 40px;
	    background: #fff;
	    border-radius: 5px;
	    border: 0;

		@media (max-width: 480px) {
			width: 100% !important;
		}

	}

	textarea {
	    resize: vertical;
	    width: 100% !important;
	    min-height: 160px
	}

	select {
	    width: 100% !important
	}

	select::-ms-expand {
	    display: none
	}

	input[type="email"] {
	    margin-bottom: 0
	}

	select {
	    cursor: pointer;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    text-overflow: '';
	    background-image: url('//cdn2.hubspot.net/hubfs/2241343/Ivoclar/Ivoclar_Images/btn-arrow-down-grey.png?t=1495445395072');
	    background-repeat: no-repeat;
	    background-position: right;
	    color: #000;
	}

	.input {
		input[type="checkbox"] {
			height: auto;
			font-size: inherit;
		}
	}

	.inputs-list {
		margin-top: 0;
	    list-style: none;
	    padding-left: 0;
	}

	.inputs-list span {
	    margin-left: 20px
	}

	.hs-error-msgs {
	    list-style: none;
	    padding-left: 0;
	}

	input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
	    display: inline-block;
	    text-align: left;
	    font-family: "FrutigerNextW01-Regular";
	    font-size: 16px;
	    padding: 7px 50px;
	    background-color: hubl("$first_color");
	    text-decoration: none;
	    border-radius: 10px;
	    border: 2px solid hubl("$first_color");
	    width: 100%;
	    max-height: 40px;
	    margin-bottom: 10px;
	    transition: all .2s linear;
	}

	.last span {
	    color: hubl("$first_color");
	}


	.form-columns-1 {

		input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), select, textarea {
			width: 100% !important;
		}
	}

	input[type="radio"] {
		height: auto !important;
	}

	input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), textarea, .dropdown-header {
		width: 100%;
	    margin-bottom: 15px;
	    padding: 8px 15px;
	    height: 40px;
	    background: #fff;
	    border-radius: 5px;
	    border: 0;
	    font-size: 12px;
	}

	input[type="submit"] {
		@extend .hi-button--gradient;
	}

	.hs_error_rollup {
		display: none;
	}

	.dropdown_select {
		position: relative;

		select {
			display: none;
		}

		.dropdown-header {
			display: flex;
			align-items: center;
			background-image: url(https://cdn2.hubspot.net/hubfs/2241343/Ivoclar/Ivoclar_Images/btn-arrow-down.png?t=1516977812775);
    		background-repeat: no-repeat;
    		background-position: right;

			.first-label {
				color: #999;
			}
		}

		.dropdown-list {
			position: absolute;
			list-style: none;
			top: 90%;
			left: 0;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0 15px;
			background: #fff;
			border-radius: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
			z-index: 1;

			li {
				margin: 10px 0;
				font-size: 12px;
				cursor: pointer;
			}
		}
	}
}

.hi-modal {

	form {
		position: relative;

		select {
		    cursor: pointer;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    text-overflow: '';
		    background-image: url("https://cdn2.hubspot.net/hubfs/2241343/Ivoclar/Ivoclar_Images/btn-arrow-down.png?t=1516977812775");
		    background-repeat: no-repeat;
		    background-position: right;
		    color: #000;
		    width: 100%;
		    margin-bottom: 15px;
		    padding: 8px 15px;
		    height: 40px;
		    background-color: #fff;
		    border-radius: 5px;
		    border: 0;
		}

		.hs_submit {

			input {
				text-align: center;
				width: auto;
			}
		}

		.hs-error-msgs {
			margin-top: 0;
		}

	}

	#hs_form_target_subscribe_blog form {

		.hs_email {

			.hs-error-msgs {
				position: absolute;
				margin-top: 10px;
			}
		}

		.hs_email {

			input {
				margin-bottom: 0;
			}
		}

		.hs_submit input {
			position: absolute;
		    height: 40px;
		    width: 44px;
		    padding: 0;
		    margin: 0;
		    bottom: 0;
		    right: 0;
		    font-size: 0;
		    color: transparent;
		    line-height: 0;
		    background-color: hubl("$first_color");
		    border: 0;
		    border-radius: 0 5px 5px 0;
		    background-image: url("https://cdn2.hubspot.net/hubfs/2241343/Ivoclar/Ivoclar_Images/chevron_right.png?t=1516977812775");
		    background-repeat: no-repeat;
		    background-position: center center;
		    transition: background-position .2s linear;
	        background-size: auto;
	        min-width: 0;
		}
	}
	
}