.hi-footer {
	font-family: "FrutigerNextW01-Regular";
	background: #eee;
	padding: 30px 0;

	a {
		color: inherit;
		text-decoration: none;
		font-family: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	.footer-copyright {
		font-size: 18px;
		margin: 20px 0 10px;
	}

	.group-flex-wrapper {

		& > .row-fluid-wrapper {

	        & > .row-fluid {
	            align-items: flex-end;
				flex-wrap: no-wrap;

	            @media (max-width: 991px) {
	            	flex-wrap: wrap;
	            }
	        }
	    }
	}

	.footer-address {
		width: auto;
		min-width: 280px;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 10px;

		@media (max-width: 991px) {
			width: 100%;
			margin-right: 0;
		}

		address {
			font-style: normal;
			margin-bottom: 10px;

			p {
				margin-top: 0;
				margin-bottom: 5px;
			}
		}
	}

	.footer-menu {
		width: auto;
		margin-left: auto;
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 18px;

		@media (max-width: 991px) {
			width: 100%;
			margin-left: 0;
		}

		ul {
			display: block;

			li {
				margin-left: 35px;
				margin-bottom: 10px;

				@media (max-width: 991px) {
					margin-left: 0;
					margin-right: 35px;
				}

				@media (max-width: 767px) {
					display: block;
					width: 100%;
					margin-right: 0;
				}

				a {
					padding: 0;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}