* {
    box-sizing: border-box;

    &:before,
	&:after {
	    box-sizing: border-box;
	}
}

body {
    margin: 0;
    padding: 0;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

.hs-responsive-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.group-flex-wrapper {

    & > .row-fluid-wrapper {

        & > .row-fluid {
            display: flex;
        }
    }
}


.slick-slider {
    margin-bottom: 0;

    .slick-track {
        margin-left: auto;
        margin-right: auto;
    }
}


.row-fluid [class*="span"] {
    min-height: 0 !important;
}

.blur-mask {
    opasity: 0;
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all .3s linear;
}

body.blur {
    overflow: hidden;
    padding-right: 15px;
    
    @media (max-width: 767px) {
        padding-right: 0;
    }

    .hi-navigation-bar, .body-container-wrapper, .footer-container-wrapper {
        filter: blur(1px);
        transition: all .3s linear;
    }

    .blur-mask {
        background: #dadada;
        opacity: .6;
        visibility: visible;
    }

    .hi-header {
        padding-right: 15px;

        @media (max-width: 767px) {
            padding-right: 0;
        }
    }
}

body.blur--strong {
    .blur-mask {
        opacity: .85;
    }
}

.header-container-wrapper {
    position: relative;
    z-index: 2;
}

.body-container-wrapper {
    position: relative;
    margin-top: 100px;
    z-index: 1;
}

#cookie-info {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    text-align: center;
    z-index: 999;
}

#cookie-info p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

#cookie-info a {
    text-decoration:underline;
    color: #fff;
}

#cookie-info .cookie-button {
    text-decoration: none;
    background: #fff;
    color: hubl("$main_font_color");
    padding: 3px;
    border-radius: 5px;
    display: block;
    width: 75px;
    margin: 0 auto;
}