.hi-header {
	width: 100%;
	position: relative;
	box-shadow: 0px 2px 8.46px 0.54px rgba(0, 0, 0, 0.08);
	position: fixed;
	background: #fff;

	.hi-navigation-bar {

		& > .row-fluid-wrapper {

			& > .row-fluid {
				display: flex;
				align-items: center;
				height: 100px;
				transition: all .3s ease-in-out;
			}
		}

		.hi-logo {
			max-width: 120px;
		}

		.hi-menu-right-controls {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		.hi-language-switcher, .hi-menu-button {
		}

		.hi-search {
			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;
			height: 40px;
			border-right: 2px solid #eee;
			width: 100%;

			& > .search-button {
				position: absolute;
				float: left;
				right: 30px;
				top: 45%;
				display: block;
				width: 20px;
				height: 25px;
				border: none;
				padding: 0;
				cursor: pointer;
				background: transparent;
				z-index: 20;
				transform: translateY(-50%);

				@media (max-width: 767px) {
					top: 50%;
					right: 10px;
				}

				svg {
					width: 35px;
					height: 36px;
					max-width: 100%;
					stroke: hubl("$first_color");
					fill: hubl("$first_color");
					transition: all .3s linear;
					@media (max-width: 767px) {
						width: 25px;
						height: 28px;
					}
				}
			}

			.search-bar {
				position: relative;
				float: left;
				display: flex;
				align-items: center;
				z-index: 19;
				width: 100%;
				right: -100%;
				transition: all .3s ease-in-out;
				padding-right: 40px;

				@media (max-width: 767px) {
					padding-right: 10px;
				}

				.search-bar-close {
					display: none;
					float: left;
					width: 5%;
					border: none;
					background: transparent;
					padding: 0;
					font-size: 32px;
					color: hubl("$first_color");
					cursor: pointer;
				}

				& > .hs_cos_wrapper {
					width: 100%;
				}

				.hs-search-field-nav {

					&__bar {
						padding-right: 15px;
					}

					&__input {
						padding: 10px 10px 6px;
						font-size: 16px;
						border: 0;
						width: 100%;
						display: inline-block;
						background-color: transparent;
						border-bottom: 1px solid #eee;

						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						  color: #999;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  color: #999;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  color: #999;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  color: #999;
						}
					}

					&__submit {
						position: absolute;
						right: 25px;
						top: 50%;
						transform: translateY(-50%);
						width: 36px;
						height: 36px;
						padding: 0;
						border: 0;
						opacity: 0;
						cursor: pointer;
					}
				}

			}

		&.expand {

			& > .search-button {
				z-index: 1;

				svg {
					stroke: #999;
					fill: #999;
				}
			}

			.search-bar {
				right: 0;


				.search-bar-close {
					display: block;
				}
			}

			@media (max-width: 480px) {
				position: absolute;
				right: 0;
				height: 100%;
				padding: 0 10px;
				border-right: none;
				background: #fff;
				z-index: 50;
			}
		}
		}

		.hi-language-switcher {
			margin-left: 15px;
			position: relative;
			z-index: 18;

			@media (max-width: 767px) {
				margin-left: 5px;
			}

			.hi-language-switcher-active {
				position: relative;
				padding: 13px 20px 18px 15px;
				margin: 0;
				margin-top: 3px;
				border: none;
				color: #999;
				font-size: 16px;
				line-height: 1;
				cursor: pointer;
				background: transparent;
				transition: all .2s linear;

				@media (max-width: 767px) {
					font-size: 20px;
					padding: 15px 10px 18px;
				}

				&:after {
					display: inline-block;
					position: absolute;
					right: 5px;
					top: 11px;
					font-family: "FontAwesome";
					content: "\f0d7";
					font-size: 14px;
					transition: all .2s ease-in-out;

					@media (max-width: 767px) {
						display: none;
					}
				}
			}

			.lang_switcher_class {
				display: block;
			}

			.globe_class {
		        background: none;
		        width: auto;
		        height: auto;
		    }

			.lang_list_class {
				display: flex;
				align-items: center;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				list-style: none;
				white-space: nowrap;
				top: 100%;
				padding: 0;
				padding-right: 3px;
				margin: 0;
				left: auto;
				right: 0;
				transition: all .2s linear;
				transform: translateX(0);

				&:before, &:after {
					display: none;
				}

				li {
					display: inline-block;
					padding: 0 7px;
					border: 0;
					border-right: 1px solid hubl("$first_color");
					font-size: 18px;
					line-height: 14px;

					&:first-of-type {
						padding-left: 0;
						border-top: 0;
					}

					&:last-of-type {
						padding-right: 0;
						border-right: none;
						border-bottom: 0;
					}

					a {
						font-family: "FrutigerNextW01-Regular";
						text-decoration: none;
						color: hubl("$first_color");
						line-height: 15px;
					}
				}
			}

		&.expand {

			.hi-language-switcher-active {

				&:after {
					transform: rotate(-180deg);
				}
			}

			.lang_list_class {
				opacity: 1;
				visibility: visible;
			}
		}
		}

		.hi-menu-button {
			margin-left: 20px;

			@media (max-width: 767px) {
				margin-left: 5px;
			}

			.hamburger-button {
				display: block;
				border: none;
				padding: 0;
				cursor: pointer;
				background: transparent;

				.icon-bar {
					display: block;
					width: 27px;
					height: 2px;
					border-radius: 1px;
					margin: 6px 0;
					background: hubl("$first_color");

					&:first-of-type {
						margin-top: 0;
					}

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&--small {
		.hi-navigation-bar {

			& > .row-fluid-wrapper {

				& > .row-fluid {
					display: flex;
					align-items: center;
					height: 100px;
					
				}
			}
		}
	}
}

.header-container-wrapper {

	.hi-main-menu {
		position: relative;
		position: fixed;
		top: 0;
		right: -100%;
		background: hubl("$first_color");
		z-index: 30;
	    padding-top: 20px;
	    padding-left: 50px;
	    height: 100vh;
	    width: 25% !important;
	    min-width: 420px;
	    margin: 0;
	    overflow: auto;
	    transition: all .5s ease-in-out;
	    font-family: "FrutigerNextW01-Medium";

	    @media (max-width: 767px) {
	    	width: 100% !important;
	    	min-width: 320px;
	    }

	    .menu-close {
	    	margin-bottom: 20px;
	    	padding-right: 35px;
	    	text-align: right;

	    	.menu-close-button {
	    		background: transparent;
	    		padding: 5px;
	    		border: none;
	    		color: #fff;
	    		font-family: "FrutigerNextW01-Medium";
	    		font-size: 40px;
	    		cursor: pointer;
	    	}
	    }

	    .h2 {
	    	display: inline-block;
		    margin-bottom: 20px;
		    font-size: 28px;
		    color: #fff;

		    &:after {
		    	display: block;
			    content: '';
			    width: 60px;
			    height: 2px;
			    margin-top: 10px;
			    background: rgba(255,255,255,.7);
			    transition: all .2s ease-in-out;
		    }
	    }

	    ul {
	    	padding-left: 0;
	    	margin-top: 0;
	    	margin-bottom: 40px;

	    	li {
	    		display: block;
	    		width: 100%;
	    		margin-bottom: 16px;

	    		a {
	    			display: inline-block;
	    			padding: 5px 0;
	    			color: #fff;
	    			text-decoration: none;
	    			font-size: 16px;
	    			width: 100%;

	    			&:hover {

	    				.h2 {

	    					&:after {
	    						width: 100%;
	    					}
	    				}
	    			}
	    		}
	    	}
	    }

	    .other-blogs {
	    	margin-bottom: 20px;

	    	.h2 {
	    		margin-bottom: 0px;
	    	}
	    }

	    .blog-topics, .other-links {

	    	ul {
	    		margin-top: 10px;
		    	li {

		    		a {
		    			padding-left: 0;
		    			transition: all .2s ease-in-out;

		    			&:hover {
		    				padding-left: 5px;
		    			}
		    		}
		    	}
		    }
	    }

	    .blog-topics {

	    	ul {

		    	li {

		    		a {
		    			text-transform: uppercase;
		    		}
		    	}
		    }
	    }

	&.expand {
		right: 0;
	}
	}
}

.header-container-wrapper {

	.row-fluid [class*="span"] {
		width: 100%;
	}
}
