.hi-modal {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    max-height: 100vh;

    .h2 {
        display: inline-block;
        margin-bottom: 30px;
        font-size: 26px;

        &:after {
            display: block;
            content: '';
            width: 60px;
            height: 2px;
            margin-top: 10px;
            background: #c5c5c5;
            transition: all .2s ease-in-out;
        }
    }
}

.modal-open {

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 300;
    }
}

.modal-dialog {
    width: 630px;
    margin: 30px auto;
    padding: 15px;
}

.modal-content {
    border: 0;
    background: transparent;
}

.modal-body, .modal-header {
    padding: 0;
    border: 0;
}

.modal-body {
    padding-bottom: 30px;
}

.modal-header {

    .hi-modal-close {
        margin-top: -2px;
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        opacity: 1;
        float: right;
        font-size: 40px;
        font-weight: 300;
        line-height: 1;
        color: hubl("$first_color");
    }

    .modal-title {
        display: inline-block;
        margin-bottom: 25px;
    }
}

.fade.in {
    opacity: 1;
    visibility: visible;
    z-index: 200;
    padding-left: 0;
    transform: translateY(0%);
}

.fade {
    padding-left: 15px;
    opacity: 0;
    z-index: 0;
    transform: translateY(-25%);
    transition: opacity .2s linear, transform .3s ease-in-out;
}

#subscription-modal {

&.hi-modal {
    align-items: center;
    bottom: 0;
}

&.fade.in {
    transform: translateY(-10%);
}
}

// search modal
.modal-search {
    visibility: hidden;
    opacity: 0;
    max-width: 1140px;
    width: 95%;
    position: fixed;
    top: 5%;
    height: 90%;
    left: 50%;
    padding: 50px 30px 20px;
    overflow: auto;
    transform: translateX(-50%);
    background: #fff;
    transition: all .3s linear;
    z-index: 99999;
    box-shadow: 0 3px 10px rgba(34,25,25,0.4);
    border-radius: 3px;

    &--open {
        visibility: visible;
        opacity: 1;
    }

    .modal-search-close {
        font-family: "FrutigerNextW01-Regular";
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 24px;
        font-weight: 300;
        line-height: 100%;
        text-transform: uppercase;
        text-shadow: none;
        border: 0;
        background: transparent;
        -webkit-appearance: none;
        opacity: .6;
        transition: all .3s linear;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .modal-results-title {
        border-bottom: 1px solid #c5c5c5;
        padding-bottom: 5px;
        margin-bottom: 30px;

        p {
            font-size: 22px;
            margin-bottom: 10px;
        }

        .hs-search-highlight {
            font-family: "Frutiger Next W01 Bold";
            color: hubl("$first_color");
        }
    }

    .modal-search-list {
        margin-bottom: 40px;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 20px;
            display: flex;
        }

        &__image {
            max-width: 150px;
            padding-right: 20px;
            width: 100%;

            img {
                max-width: 100%;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        &__content {
            width: calc(100% - 150px);

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &__title {
            color: hubl("$first_color");
            font-size: 18px;
        }

        &__description {
            font-size: 16px;
        }
    }

    .modal-search-pagination {
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        list-style: none;

        li {
            display: inline-block;
            margin-bottom: 20px;

            &:last-of-type {

                .modal-search-pagination__button {
                    border-right: 0;
                }
            }
        }

        &__button {
            font-family: "FrutigerNextW01-Regular";
            font-size: 16px;
            display: inline-block;
            border: 0;
            background: transparent;
            -webkit-appearance: none;
            width: 30px;
            height: 30px;
            text-align: center;
            border-right: 1px solid #c5c5c5;
            cursor: pointer;
            color: #c5c5c5;
            transition: all .3s linear;

            &:hover {
                color: hubl("$first_color");
            }

        &--active {
            background: hubl("$first_color");
            color: #fff;
            cursor: unset;

            &:hover {
                color: #fff;
            }
        }
        }
    }
}
