textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

body {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "FrutigerNextW01-Regular";
    font-size: 16px;
    line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, p {
	margin-top: 0;
	margin-bottom: 20px;
}

h1, .h1 {
	font-family: "FrutigerNextW01-Medium";
	font-size: 36px;
	color: hubl("$first_color");
	margin-bottom: 20px;
	line-height: 1.1;

	@media (max-width: 767px) {
		font-size: 28px;
	}
}

h2, .h2 {
	font-family: "FrutigerNextW01-Medium";
	font-size: 22px;
	margin-bottom: 20px;

	@media (max-width: 767px) {
		font-size: 22px;
	}
}

p.secondary-header {
	font-family: "FrutigerNextW01-Medium";
	font-size: 20px;
	margin-bottom: 20px;
}

h3 {
	font-family: "FrutigerNextW01-Medium";
	font-size: 22px;
}

h4 {
	font-family: "FrutigerNextW01-Medium";
	font-size: 22px;
}

h5 {
	font-family: "FrutigerNextW01-Medium";
	font-size: 20px;
}

h6 {
	font-family: "FrutigerNextW01-Medium";
	font-size: 18px;
}

a {
	font-family: "FrutigerNextW01-Medium";
	text-decoration: none;
	color: hubl("$first_color");

	&:hover {
		text-decoration: underline;
	}
}

strong {
	font-family: "Frutiger Next W01 Bold";
}

li {
	font-family: "FrutigerNextW01-Medium";

	span {
		font-family: "FrutigerNextW01-Regular";
	}
}