.hi-landing {

	h2, .h2 {
		color: hubl("$first_color");
	}

	.hi-landing-section {

		padding: 80px 0 50px;

		@media (max-width: 767px) {
			padding: 50px 0;
		}

		.hi-landing-content {
			padding-right: 20px;
			margin-bottom: 30px;

			@media (max-width: 991px) {
				padding-right: 0;
			}
		}

		.hi-landing-sidebar {
			margin-bottom: 30px;

			.widget-type-form {
				padding: 30px 20px;
				background: #eee;

				.input {
					@media (max-width: 480px) {
						margin-right: 0;
					}
				}

				fieldset.form-columns-1 .input {
					margin-right: 0;
				}

				fieldset.form-columns-2 {

					.hs-form-field {

						&:last-of-type {

							.input {
								margin-right: 0;
							}
						}
					}
				}

				label {
				    display: inline-block;
				    max-width: 100%;
				    margin-bottom: 5px;
				}

				span {
					font-family: "Frutiger Next W01 Light";
				}

				.inputs-list {
					
					span {
						font-size: 14px;
						margin-left: 20px;
					}
				}

				input[type=checkbox], input[type=radio] {
				    margin: 4px 0 0;
				    margin-top: 1px\9;
				    line-height: normal
				}

				input[type="submit"] {
					width: 100%;
				}

				.hs-error-msgs {
					color: red;
				}

			}

			.dropdown_select {

				.dropdown-header {
					background-image: url(https://cdn2.hubspot.net/hubfs/2241343/Ivoclar/Ivoclar_Images/btn-arrow-down-grey.png);
				}

			} 
		}
	}
}