.hi-manual-width-flexible-column {

	& > span {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 767px) {
			display: block;
		}

		& > div {
			float: left;

			@media (max-width: 767px) {
				width: 100% !important;
			}
		}
	}

	&__rich-text {
		margin: 0;
	    padding: 0;
	    width: 100%;

	    img {
	    	@media (max-width: 767px) {
				float: none !important;
			}
	    }
	}
}