.hi-blog {

	// GLOBAL STYLES

	.widget-type-blog_content {
		@media (max-width: 991px) {
			margin-left: 0;
		}
	}

	.post-topic {
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid hubl("$first_color");
		color: hubl("$first_color");
		background: #fff;
		border-radius: 5px;
		padding: 4px 6px;
		margin-right: 5px;
		margin-bottom: 10px;
		transition: all .2s linear;

		&:hover {
			color: #fff;
			background: hubl("$first_color");
		}
	}

	.hi-blog-body {
		padding: 100px 0 25px;

		@media (max-width: 767px) {
			padding: 75px 0 0;
		}
	}

	.socials {

		a.btn-social {
			display: inline-block;
		    width: 40px;
		    height: 40px;
		    border: 1px solid hubl("$first_color");
		    color: hubl("$first_color");
		    background: transparent;
		    text-align: center;
		    line-height: 40px;
		    font-size: 20px;
		    margin-right: 7px;
		    margin-bottom: 10px;
		    transition: all .2s linear;

		    &:hover {
		    	color: #fff;
		    	background: hubl("$first_color");
		    }
		}

		a.btn-social.btn-inverse {
			color: #fff;
		    background: hubl("$first_color");

		    &:hover {
		    	color: hubl("$first_color");
		    	background: #fff;
		    }
		}
	}

	#desktop-placeholder[rel="blog-switcher-placeholder"] {

		@media (max-width: 991px) {
			display: none;
		}
	}

	#mobile-placeholder[rel="blog-switcher-placeholder"] {
		display: none;

		@media (max-width: 991px) {
			display: block;
		}
	}

	// main content

	.hi-blog-main-content {
		margin-bottom: 75px;

		@media (max-width: 991px) {
			width: 100%;
		}
	}

	// sidebar
	.hi-blog-sidebar {
		margin-bottom: 75px;

	@media (max-width: 991px) {
		width: 100%;
		margin-left: 0 !important;
	}

		.h2 {
	    	display: inline-block;
		    margin-bottom: 30px;
		    font-size: 26px;
		    color: hubl("$first_color");

		    &:after {
		    	display: block;
			    content: '';
			    width: 60px;
			    height: 2px;
			    margin-top: 10px;
			    background: #c5c5c5;
			    transition: all .2s ease-in-out;
		    }
	    }

		&__item {
			margin-bottom: 30px;
		}

		&__blog-switcher {
			border: 1px solid #b5b5b5;
			margin-bottom: 40px;

			ul {
				display: block;
				border: 1px solid #fff;
				width: 100%;
				font-size: 0;
				background: linear-gradient(to right, rgba(109,168,220,1) 0%, rgba(0,92,173,1) 100%);
				background-size: 0;
				background-repeat: no-repeat;
				transition: background-position .2s ease-in-out;

				li {
					display: flex;
					width: 50%;
					text-align: center;
					align-items: center;
					justify-content: center;
					height: 57px;

					@media (max-width: 568px) {
						float: left !important;
					}

					a {
						display: inline-block;
						font-family: "FrutigerNextW01-Medium";
						color: hubl("$first_color");
						font-size: 18px;
						padding: 0 10px;
						margin: 0;
						width: 100%;
						height: auto;
						white-space: normal;
						transition: all .2s ease-in-out;
					}

				&.active {
					background: linear-gradient(to right, rgba(109,168,220,1) 0%, rgba(0,92,173,1) 100%);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 100% 50%;

					a {
						pointer-events: none;
						cursor: default;
						color: #fff;
					}
				}
				}

			&.left-active {
				background-size: 50% 100%;
				background-position: left;

				li.active {
					background-size: 0;
					color: #fff;
				}
			}

			&.right-active {
				background-size: 50% 100%;
				background-position: right;

				li.active {
					background-size: 0;
					color: #fff;
				}
			}

			&.left-hovered {
				background-size: 50% 100%;
				background-position: left;

				li:first-of-type {

					a {
						color: #fff;
					}
				}

				&.left-active {

					li.active {

						a {
							color: #fff;
						}
					}
				}

				&.right-active {

					li.active {

						a {
							color: hubl("$first_color");
						}
					}
				}
			}

			&.right-hovered {
				background-size: 50% 100%;
				background-position: right;

				li:last-of-type {

					a {
						color: #fff;
					}
				}

				&.right-active {

					li.active {

						a {
							color: #fff;
						}
					}
				}

				&.left-active {

					li.active {

						a {
							color: hubl("$first_color");
						}
					}
				}
			}
			}
		}

		&__other-posts {

			@media (max-width: 767px) {
				float: left;
			}

			.other-posts-wrapper {
				position: relative;
				float: left;
				width: 100%;
				margin-bottom: 10px;

				a {
					text-decoration: none;
					transition: all .2s linear;
				}

				ul {
					display: inline-block;
					list-style: none;
					padding: 0;
					width: 100%;
					float: left;
					font-size: 0;
					margin: 0;
					margin-bottom: -1px;
					float: left;

					li {
						display: inline-block;
						width: 50%;
						float: left;
						text-align: center;
						border: 1px solid #c7c7c7;
						border-bottom-color: #9c9c9c;
						transition: all .2s linear;

						&:first-of-type {
							border-right-color: #9c9c9c;

							&.active {
								border-right-color: #fff;
							}
						}

						&:last-of-type {
							border-left-color: #9c9c9c;

							&.active {
								border-left-color: #fff;
							}
						}

						a {
							display: block;
							font-size: 18px;
							color: #c7c7c7;
							width: 100%;
							padding: 20px;
						}
					}

					li.active {
						border-color: #9c9c9c;
						border-bottom-color: #fff;

						a {
							color: hubl("$first_color");
						}
					}
				}

				.posts-tab {
					height: 0;
					width: 100%;
					float: left;
					border: none;
					
					.post-row {
						display: flex;
						align-items: center;
						padding: 15px 25px;
						opacity: 0;
						visibility: hidden;

						.post-image {
							width: 25%;
						}

						.post-title {
							width: 75%;
							padding-left: 25px;

							a {
								color: #333;

								&:hover {
									color: hubl("$first_color");
								}
							}						
						}
					}
				}

				.posts-tab.active {
					height: auto;
					padding: 15px 0;
					border: 1px solid #9c9c9c;
					border-top: none;

					.post-row {
						opacity: 1;
						visibility: visible;
						transition: opacity .3s ease-in-out;
					}
					
				}
			}
		}

		&__subscribe {

			.hi-modal-button {
				margin-bottom: 10px;
				width: 100%;

				@media (max-width: 991px) {
					width: auto;
				}

				@media (max-width: 580px) {
					width: 100%;
				}
			}

		}
	}

	// LISTING STYLES
	.blog-listing {
		padding-right: 60px;

		@media (max-width: 991px) {
			padding-right: 0;
		}

		.blog-listing-post {
			margin-bottom: 80px;

			&__header {

				a {
					text-decoration: none;
				}

				h1, .h1, h2, .h2 {
					margin-bottom: 20px;
				}
			}

			&__date {
				margin-top: 10px;
				margin-bottom: 20px;
				font-size: 18px;
				color: #999;
			}

			&__featured-image {
				width: 100%;
				margin-bottom: 20px;
				overflow: hidden;

				img {
					max-width: 100%;
					transition: all .2s ease-in-out;
				}

				&:hover {

					img {
						transform: scale(1.03);
					}
				}
			}

			&__summary {
				font-size: 20px;

				@media (max-width: 767px) {
					font-size: 18px;
				}
			}

			&__read-more {
				margin-bottom: 20px;

				a {
					font-family: "FrutigerNextW01-Medium";
					font-size: 22px;
					color: hubl("$first_color");
					text-decoration: none;

					@media (max-width: 767px) {
						font-size: 20px;
					}

					&:after {
						content: "→";
						margin-left: 5px;
						transition: all .2s ease-in-out;
					}

					&:hover {

						&:after {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}

	.blog-pagination {
		position: relative;
		float: left;
		width: 100%;
		text-align: center;

		ul {
			list-style: none;
		    padding: 0;
		    margin: 0;
		    font-size: 0;

		    li {
		    	display: inline-block;
			    width: 50px;
			    height: 50px;
			    text-align: center;
			    border-right: 1px solid #c5c5c5;

			    &:last-of-type {
			    	border-right: 0;
			    }

			    a {
			    	font-family: "FrutigerNextW01-Medium";
			    	display: block;
			    	text-decoration: none;
				    line-height: 50px;
				    color: #c5c5c5;
				    font-size: 16px;
				    width: 50px;
				    height: 50px;
				    transition: color .2s linear;

				    &:hover {
				    	color: hubl("$first_color");
				    }
			    }

			&.arrow {
				color: hubl("$first_color");
			}

		    &.active {
		    	background: hubl("$first_color");

		    	a {
		    		color: #fff;
				    pointer-events: none;
				    cursor: default;
		    	}
		    }
		    }
		}
	}

	// SINGLE STYLES
	.blog-single {
		padding-right: 60px;

		@media (max-width: 991px) {
			padding-right: 0;
		}

		.separate-line {
			display: block;
			margin-top: 80px;
		}

		.separate-line.h2 {
		    margin-bottom: 30px;
		    font-size: 26px;
		    color: hubl("$first_color");

		    &:after {
		    	display: block;
			    content: '';
			    width: 100%;
			    height: 2px;
			    margin-top: 10px;
			    background: #c5c5c5;
			    transition: all .2s ease-in-out;
		    }
		}

		.back-button {
			display: inline-block;
			font-family: "FrutigerNextW01-Medium";
			font-size: 20px;
			color: hubl("$first_color");
			text-decoration: none;
			position: relative;
			padding-left: 30px;
			margin-bottom: 80px;

			@media (max-width: 767px) {
				font-size: 18px;
			}

			&:before {
				content: "←";
				transition: all .2s ease-in-out;
				position: absolute;
				left: 0;
			}

			&:hover {

				&:before {
					margin-left: -5px;
				}
			}
		}

		&__topics {

		}

		&__credits {
			margin-top: 10px;
		    margin-bottom: 20px;
		    font-size: 18px;
		    color: #999;

		    a {
		    	color: inherit;
		    }
		}

		&__body {

			h2, h3 {
				color: hubl("$first_color");
			}

			p {
				margin: 20px 0;
			}

			.cta_button {

				p, span {
					margin: 0;
				}
			}
		}

		&__form {
				margin-top: 30px;
				padding: 30px 20px;
				background: #eee;

			.h2 {
				display: block;
				text-align: center;
				font-size: 30px;
				font-family: "FrutigerNextW01-Regular";
				color: inherit;
			}

			.hs-form {

				.input {
					@media (max-width: 480px) {
						margin-right: 0;
					}
				}

				select {
					background-image: url(https://cdn2.hubspot.net/hubfs/2241343/Ivoclar/Ivoclar_Images/btn-arrow-down.png);
				}

				fieldset.form-columns-1 .input {
					margin-right: 0;
				}

				fieldset.form-columns-2 {

					.hs-form-field {

						&:last-of-type {

							.input {
								margin-right: 0;
							}
						}
					}
				}

				label {
				    display: inline-block;
				    max-width: 100%;
				    margin-bottom: 5px;
				}

				span {
					font-family: "Frutiger Next W01 Light";
				}

				.inputs-list {
					
					span {
						font-size: 14px;
						margin-left: 20px;
					}
				}

				input[type=checkbox], input[type=radio] {
				    margin: 4px 0 0;
				    margin-top: 1px\9;
				    line-height: normal
				}

				.actions {
					text-align: center;

					input[type="submit"] {
						width: auto;
					}
				}
			}
		}

		&__social-share {

		}

		&__posts-nav-wrapper {
			
			.posts-nav {
				display: flex;

				&__item {
					width: 50%;


					a {
						text-decoration: none;
						color: inherit;
						transition: all .2s linear;

						&:hover {
							color: hubl("$first_color");
						}
					}

					&--next-post, &:first-of-type {
						margin-right: auto;
						padding-right: 10px;
					}

					&--prev-post, &:last-of-type {
						margin-left: auto;
						padding-left: 10px;
					}

					.featured-image {
						width: 100%;
						overflow: hidden;
						margin-bottom: 10px;

						img {
							max-width: 100%;
							transition: all .2s ease-in-out;
						}

						&:hover {

							img {
								transform: scale(1.03);
							}
						}
					}

					.description {
						// padding: 0 20px;
						font-size: 18px;

						p {
							margin: 10px 0;
						}

						.published-at {
							color: #999;
							font-size: 16px;
						}
					}
				}
			}
		}
	}


}

