@media print {

	.hs-responsive-embed {
		display: none;
	}

	.widget-type-blog_content {
		margin-left: 0 !important;
	}

	.hi-header {
		box-shadow: none;
		position: relative;

		.hi-navigation-bar {

			.hi-menu-right-controls {
				display: none;
			}
		}
	}

	.header-container-wrapper {

		.hi-main-menu {
			display: none;
		}
	}

	.hi-modal, .blur-mask {
		display: none;
	}

	.body-container-wrapper {
		margin-top: 0;
	}

	.hi-hero-banner {
		height: auto;

		.banner-header {

			h1, .h1 {
				background: none;
				color: hubl("$first_color");
				-webkit-text-fill-color: hubl("$first_color");
				font-size: 80px;
				margin-left: 0;
			}
		}

		.gradient-mask {
			display: none;
		}
	}

	.hi-blog {

		.hi-blog-body {
			padding: 25px 0 !important;
		}

		.hi-blog-main-content {
			width: 100%;
			margin-bottom: 0 !important;
		}

		.hi-blog-sidebar {
			display: none;

			&__blog-switcher {
				display: none;
			}
		}

		.blog-single {
			padding-right: 0 !important;

			.back-button {
				display: none !important;
			}

			&__social-share {
				display: none;
			}

			&__posts-nav-wrapper {
				display: none;
			}

			.hi-3-cta-box {
				display: none;
			}
		}
	}

	.hi-footer {

		.footer-menu {
			display: none;
		}

	}
}