.hi-3-cta-box {
	margin-top: 30px;
	padding: 30px;
	background: #eee;

	&__title {
		font-size: 30px;
		text-align: center;
		margin-top: 10px;
	}

	&__cta-wrapper {
		margin-top: 30px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		@media (max-width: 580px) {
			flex-wrap: wrap;
		}
	}

		&__cta {
			margin: 10px;
			width: 33%;

			@media (max-width: 580px) {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}

			.hi-modal-button, .cta_button {
				min-width: 0 !important;
				width: 100%;
			}
		}
}