.hi-hero-banner {
	position: relative;
	float: left;
	display: block;
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;

	@media (max-width: 991px) {
		height: 350px;
	}

	@media (max-width: 580px) {
		height: 300px;
		align-items: flex-end;
	}

	.banner-header {
		position: relative;

		h1, .h1 {
			position: relative;
			font-size: 180px;
			line-height: normal;
			margin-left: -13px;
			font-family: "FrutigerNextW01-Regular";
			font-weight: normal;
		  	-webkit-text-fill-color: transparent;
		  	background: -webkit-linear-gradient(transparent, transparent), url(https://cdn2.hubspot.net/hubfs/2241343/highlights%20ivoclar/blog/hi-banner-background-gradient220.png) repeat;
		  	background: -o-linear-gradient(transparent, transparent);
		  	-webkit-background-clip: text;
			z-index: 2;
			margin-bottom: 10px;

			@media (max-width: 991px) {
			 	font-size: 120px;
			 	margin-left: -9px;
			}

			@media (max-width: 580px) {
				font-size: 90px;
				margin-left: -7px;
			}

			@media (max-width: 480px) {
				font-size: 60px;
				margin-left: -5px;
			}
		}

		.gradient-mask {
			position: absolute;
			line-height: normal;
			width: 50%;
			height: 90px;
			background: linear-gradient(to right, #cccbcb, transparent);
			bottom: 50px;
			left: 0;
			z-index: 1;
			opacity: .75;

			@media (max-width: 991px) {
			 	height: 60px;
			 	bottom: 33px;
			}

			@media (max-width: 580px) {
				height: 45px;
				bottom: 25px;
			}

			@media (max-width: 480px) {
				height: 30px;
				bottom: 17px;
			}
		}
	}

	.banner-subheader {

		p {
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 2.5px;
			font-family: "FrutigerNextW01-Medium";

			@media (max-width: 991px) {
			 	font-size: 14px;
			}

			@media (max-width: 580px) {
				height: 45px;
				bottom: 25px;
			}
		}
	}
}