.hi-image-cta {
	min-height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	padding: 20px 20px 0;
	margin-bottom: 20px;

	.hs-cta-wrapper, .cta_button {
		width: 100%;
	}
}